body {
    background: #fff !important;
}

.blog-detail-section {
    margin-bottom: 100px;
}
.blog-detail-section a {
    text-decoration: none;
}
.blog-detail-section .container {
    max-width: 810px;
}

.blog-detail-section article {
    max-width: 560px;
    margin-inline: auto;
}
.blog-detail-content {
    margin-top: 15px;
}
.blog-detail-content h2 *{
    font-size: inherit;
}
.blog-detail-content p br {
    display: none;
}
.blog-detail-section img {
    border-radius: var(--radius-size);
    width: 100%;
    margin-bottom: 1rem;
    max-height: 210px;
    object-fit: contain;
}
.blog-detail-section h2 strong,
.blog-detail-section h3 strong{
    font-weight: 600!important;
}
.datail-img-box {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 285px;
    width: 100%;
    border-radius: 16px;
}
.datail-img-box img{
    margin-bottom: 0;
}

.blog-detail-content a {
    color: rgb(13,110,253) !important;
}
 
.blog-detail-content p,
.blog-detail-content p strong:not(.blog-detail-content a strong),
.blog-detail-content li strong:not(.blog-detail-content a strong),
.blog-detail-content li,
.blog-detail-content span
{
    color: #667085 !important;
    font-size: 1rem;
}
h1 {
    text-align: center;
    line-height: normal;
    font-size: clamp(1.5rem,2.5vw,2.5rem);
    margin-bottom: clamp(1.5rem,2.5vw,2rem);
}

.blog-detail-content h2 {
    line-height: normal;
    font-size: clamp(1.25rem,2.5vw,1.5rem) !important;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #000;
}

.blog-detail-content h3 {
    line-height: normal;
    font-size: clamp(1.125rem,2.5vw,1.25rem) !important;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #000;
}
.badge-box {
    margin-inline: auto;
    margin-bottom: 1.125rem;
    border: 1px solid var(--color-dark);
}
.badge-box i {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width:768px) {
    body {
        background: #EBF3FB !important;
    }
}
.cta-flex {
    padding: .6rem 2rem;
    display: flex;
    max-width: 560px;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    margin-block: 4rem 3rem;
    background: var(--color-blue);
    border-radius: var(--radius-size);
}

.cta-flex span {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}

.btn-white {
    background: #fff !important;
    display: flex;
    place-content: center;
    max-width: 180px;
    border-radius: 8px;
    color: var(--color-blue) !important;
    font-weight: 800;
    width: 100%;
    flex-wrap: wrap;
    height: 35px;
    font-size: 12px;
}

.btn-white:hover {
    background: #f2f2f2 !important;
}

.cta-flex p,
.cta-flex span {
    color: #fff;
}
.blog-f {
    font-weight: 600;
    color: #667085;
}

.cta-flex p {
    margin-bottom: 0;
    font-size: 1.125rem;
    font-weight: 600;
}
.cta-flex p strong {
    font-weight: 800;
    font-size: 2rem;
}
.share-flex span {
    font-size: .865rem;
    color: #667085;
    font-weight: 600;
}
.detail-bottom {
    max-width: 560px;
    margin-inline: auto;
    display: flex;
    padding-top: 1.125rem;
    border-top: 1px solid #667085;
    justify-content: space-between;
}
.share-flex {
    display: flex;

    align-items: center;
    gap: 15px;
}
.share-flex ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    margin-bottom: 0;
}
.share-flex li a {
    color: #99A0AE;
    font-size: 1rem;
}

@media (max-width:500px) {
    .all-blog-grid {
        margin-bottom: 30px;
    }
    .blog-detail-section {
        margin-bottom: 50px;
    }
    .cta-flex {
        flex-direction: column;
        gap: 1rem;
    }

}
@media (max-width:360px) {
    .blog-detail-section article {
        max-width: 320px;
    }
    .detail-bottom {
        flex-direction: column;
        gap: 10px;
    }
}