body {
    background: linear-gradient(180deg, rgba(216, 236, 251, 1) 0%, rgba(243, 242, 248, 1) 50%, rgba(255, 255, 255, 1) 73%);
}

.fixed-phone {
    position: fixed;
    right: 0;
    padding-block: 7px;
    z-index: 10;
    bottom: 70px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    animation: animate-pulse 4s infinite;
}

.hero-image {
    background: #476CFF url("/InsurUp/product-hero-bg.png");
    border-radius: 10px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    min-height: 450px;
    position: relative;
}

.pc-img {
    top: 30px;
    width: 426px;
    height: auto;
}

@media (min-width:768px) {
    .hero-image {
        max-width: 500px;
    }

    .pc-img {
        width: 510px;
    }
}

@keyframes animate-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(51, 92, 255, 0.7), 0 0 0 0 rgba(51, 92, 255, 0.7);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(51, 92, 255, 0.0), 0 0 0 10px rgba(51, 92, 255, 0);
    }

}

#technical-infrastructure-tab:not(.active) {
    background: rgba(71, 108, 255, 0.03) !important;
}

.shape-x {
    position: absolute;
    z-index: -1;
    top: 42%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.nav-item:nth-child(3) .nav-link {
    border-radius: 0 10px 10px 0 !important;
}

.position-relative section {
    position: relative;
}

#benefit3 {
    background-image: url(/InsurUp/card-3-shape.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

header,
.hero-section {
    background: rgba(227, 239, 250, 1);
}

@keyframes rotate1 {
    0% {
        transform: rotate(15deg) translateX(-10px);
    }

    100% {
        transform: rotate(35deg) translateX(10px);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(-30deg) translateX(-10px);
    }

    100% {
        transform: rotate(15deg) translateX(10px);
    }
}

.product-shape-3 {
    right: -6rem;
    transform: rotate(35deg);
    animation: rotate1 5s ease-in-out infinite alternate;
}

.product-shape-4 {
    right: 3rem;
    bottom: -8rem;
    transform: rotate(15deg);
    animation: rotate2 5s ease-in-out infinite alternate;
}

.responsive-table .nav-item:nth-child(3) .nav-link {
    border-radius: 0 10px 10px 0 !important;
}

#see-more {
    color: #000;
    margin-top: 15px;
    transform: translateX(240px);
    display: block;
    width: max-content;
    margin-inline: auto;

}

.properties-bg {
    height: 446px !important;
    background: unset !important;
}

.properties-bg img {
    max-width: 100% !important;
}

table i {
    display: flex !important;
    width: 25px;
    justify-content: center;
    align-items: center;
    height: 25px;
    border-radius: 50%;
    background: #E8F2EE;
    margin-inline: auto;
    color: #476CFF;
}

table i:before {
    line-height: normal;
}

.table-responsive th {
    padding: 40px 0 25px !important;
    border-radius: 20px 20px 0 0;
}

.table-responsive tr:last-child td:last-child {
    border-radius: 0 0 20px 20px;
}

.table-responsive th:nth-child(4),
.table-responsive td:nth-child(4) {
    background: rgba(71, 108, 255, 0.03);
}

.hero-section {
    min-height: calc(100vh - 116px);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(227, 239, 250, 1) 45%);
}

.hero-section .btn-menu,
.badge {
    width: max-content;
}

.badge {
    margin-bottom: 15px;
}

.information-section .badge {
    color: #0E121B !important;
    margin-bottom: 1rem !important;
}

/* Hareket Animasyonu */
@keyframes moveSideways {
    0% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(10px);
    }
}

.product-shape-1 {
    top: 1rem;
    left: -11rem;
    animation: moveSideways 5s ease-in-out infinite alternate;
}

.product-shape-2 {
    bottom: -1.5rem;
    right: -6rem;
    animation: moveSideways 3s ease-in-out infinite alternate;
}

.information-section h2 {
    font-size: clamp(2rem, 2.5vw, 3.5rem);
    font-weight: 500;
    margin-bottom: 1rem;
}

.table-section {
    padding-block: 150px 0;
}

.table-section .container {
    max-width: 1400px;

}

.table-responsive {
    padding: 15px 100px 55px;
    background: #fff;
    height: 665px;
    overflow: hidden;
    border-radius: 16px;
}

.table-responsive th {
    min-width: 230px;
}

.table-responsive th:not(:first-child),
.table-responsive td:not(:first-child) {
    text-align: center;
}

.table-responsive td {
    font-size: .865rem;
    font-weight: 500;
    padding: 20px 0;
}

.table-responsive th p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.table-responsive th span {
    display: block;
    margin-inline: auto;
    font-size: 11px;
    font-weight: 400;
    max-width: 180px;
    color: rgba(26, 25, 30, 0.5);
}

.btn-table {
    background: #E1E4EA !important;
    color: #667085 !important;
}

.table-responsive .btn-menu {
    height: 35px !important;
    border-radius: 5px !important;
    width: 85%;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    margin: 20px auto 0;
}

.table-responsive .btn {
    border-radius: 5px !important;
    width: 85%;
    border: 1px solid #E1E4EA !important;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    margin: 20px auto 0;

}

.list-unstyled {
    margin-top: 1.5rem;
}

.list-unstyled li {
    font-size: .865rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    color: #191A15;
}

.info-text {
    font-size: 1rem;
    line-height: 24px;
    color: #0E121B;
}

.information-section .list-unstyled i {
    font-size: 1.5rem;
}

.section-badge,
.badge {
    background: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    border-radius: 100px;
    padding: 5px 10px;
    line-height: normal;
    box-shadow: 0 16px 32px rgba(14, 18, 22, 0.1);
}

.hero-section .col-lg-5 .text-muted {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #383942 !important;
    margin-bottom: 1.5rem;
}

.hero-section h1 {
    margin-bottom: 1.5rem;
    font-weight: 500;
}



.info-card {
    display: flex;
    width: 100%;
    max-width: 500px;
    padding: 24px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.3);
    margin-bottom: 16px;
    box-shadow: 0 0 0 1px rgba(14, 63, 126, 0.06), 0 1px 1px -0.5px rgba(42, 51, 70, 0.03), 0 2px 2px -1px rgba(42, 51, 70, 0.04), 0 3px 3px -1.5px rgba(42, 51, 70, 0.04), 0 5px 5px -2.5px rgba(42, 51, 70, 0.03), 0 10px 10px -5px rgba(42, 51, 70, 0.03), 0 24px 24px -8px rgba(42, 51, 70, 0.03);
}

.info-card:before {
    content: "";
    width: 10px;
    height: 100%;
    position: absolute;
    left: -25px;
    top: 0;
    border-radius: 100px;
    background: #476CFF;
}

.information-section .row:not(:last-child) {
    margin-bottom: 90px;
}

.flex-lg-row-reverse .info-card {
    margin-left: 0;
}

.information-section {
    padding-top: 100px;
}

.benefit-card {
    text-align: center;
}

@media(max-width:1200px) {
    .shape-x {
        display: none !important;
    }

    .table-responsive {
        padding: 15px 25px 55px;
    }
}

@media (max-width:992px) {

    .benefit-card img {
        margin-bottom: 25px;
    }

    #benefit3 .benefit-header {
        min-height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-shape-1,
    .product-shape-2,
    .product-shape-3,
    .product-shape-4 {
        display: none;
    }

    .information-section .row:not(:last-child) {
        margin-bottom: 50px;
    }

    .info-card {
        margin-inline: auto !important;
    }

    .table-section,
    .information-section {
        padding-block: 70px 0;
    }

    .table-responsive,
    #see-more {
        display: none;
    }

    .responsive-table {
        display: block !important;
    }
}

.responsive-table {
    display: none;
}

@media (max-width:768px) {
    .properties {
        overflow: hidden;
    }

    .properties-bg img {
        transform: scale(1.5);
    }

    .benefit-header img {
        width: 275px !important;
        object-fit: contain !important;
    }

    #benefit1 .benefit-header img {
        transform: scale(1) !important;
    }

    td {
        font-size: .865rem;
        min-width: 100px;
    }

    td:last-child {
        text-align: center;
    }
}

@media (max-width:450px) {
    .fixed-phone {
        width: 100%;
        border-radius: 0 !important;
        bottom: 0;
    }

    .properties-bg {
        height: 250px !important;
    }

    .benefit-header img,
    #benefit1 .benefit-header img {

        width: 275px !important;
        object-fit: contain !important;
    }

    #benefit3 .benefit-header img {
        margin-bottom: 0 !important;
    }

    .hero-image {
        max-width: 380px;
    }

    .hero-image img {
        max-width: 100%;
    }
}